h1 {
    color:#008080;
    font-family:Comic sans ms;
    }
p {
    color: #40e0d0
;
    font-family:Arial;
    font-weight:Bold;
    }
body {background-color: #F5F5DC;}
li {color:Black;}
img {width:320px;}
.span1 {
    color:red;
    font-weight:bold
    }
.span2 {
    color:Orange;
    font-weight:bold;
    }
#submit {
    font-size:20px;
    text-align:center;
    color:Green;
    outline:none;
    border-style:none;
    padding:10px;
    border-radius:10px;
    box-shadow:2px 2px 1px #90A4AE;
    display:block;
    background-color:White;
    margin-top:10px;
    margin-bottom:50px;
    border-color:Red;
    border-width:3px;
    }
#submit:active {
    box-shadow:1px 1px 1px 2px red;
    }
.time {
    background-color:white;
    border-radius:12px;
    padding:3px;
    color:black;
    }