<script src="https://ajax.googleapis.com>ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="index.css"/>
<script src="index.js"></script>

<h1>Hello ZER0,</h1>

<input type="number" placeholder="00-00"/>
<input type="text" placeholder="Description"></input>
<input type="submit" id="submit"/>

<p>To Do List</p>

<ul>
    <% @todos.each do |todo| %>
    <li>
    <input type="checkbox" name=""/>
    <a href="show/<%= todo.id %>"><%= todo.description %></a>
    <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
    </li>
    <% end %>
</ul>
   
<a href="show.html"><span class="span2">show</span></a>

<p
    id="day">
    Rate Your Day
</p>

<img src="https://media.giphy.com/media/1M9fmo1WAFVK0/giphy.gif">

<select>
    <option value="#">5</option>
    <option value="#">4</option>
    <option value="#">3</option>
    <option value="#">2</option>
    <option value="#">1</option>
</select>

<input type="text" placeholder="Final Comments"/>