<link rel="stylesheet" href="index.css"/>

<input type="checkbox"/>
<hs>To Do List Homepage</hs>
<a href="#">[Edit]</a>
<a href="#">[Delete]</a>
<a href="index.html">[Go Back]</a>

<h2><%= @todo_description %></h2>
<h3><%= params[:id] %></h3>
