<link rel="stylesheet" href="index.css"/>

<input type="checkbox"/>
<hs>To Do List Homepage</hs>
<h2><%=@todo_description%></h2>
<a href="#">[Edit]</a>
<a href="#">[Delete]</a>
<a href="index.html">[Go Back]</a>