<link rel="stylesheet" href="index.css"/>

<input type="checkbox"/>
<hs>To Do List Homepage</hs>
<a href="#">[Edit]</a>
<a href="#">[Delete]</a>
<a href="index">[Go Back]</a>

<h1><%= @todo_description %></h1>
<h2><%= params[:id] %></h2>
<h3><%= @todo_description %></h3>
